.container{
  background: #FFFFFF;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.header-user{
  display: flex;
  flex-direction: row;

}
.header-name{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  margin-right: 5px;
  width: 270px;
}
.avatar{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.header-name-avatar{
  padding: 0 20px 0 0;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
  background-color: #fff;
  font-family: Arial, sans-serif;
  width: 100%;
}
.example-action-buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 26px;
}
.arrowDown {
  background-image: url("/images/svgs/arrowDown.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 10px;
  height: 5px;
  border: none;
  cursor: pointer;
  padding: 0;
  background-color: transparent;
}


.search-box {
  display: flex;
  align-items: center;
  border: none;
  border-radius: 20px;
  padding: 4px 12px;
  background-color: #f9f9f9;
  width: 1110px;
  flex: 1;
}

.search-box .search-icon {
  font-size: 16px;
  color: #1976d2;
  margin-right: 8px;
  margin-top: 9px;
}

.search-box input {
  border: none;
  background: transparent;
  outline: none;
  font-size: 14px;
  flex: 1;
}

.notification {
  position: relative;
  margin-left: 16px;
  cursor: pointer;

}

.notification .bell-icon {
  font-size: 20px;
  color: #1976d2;
}

.notification .badge {
  position: absolute;
  top: -2px;
  right: -2px;
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
  border: 2px solid #fff;

}

