<div class="container">
  <div class="header-user">
    <div class="header-name">
      <div class="header-name-avatar">
        <img src="/images/avatar.png" alt="avatar" class="avatar">
      </div>
      <span class="user-names">{{ userEmail }}</span>
      <div class="example-action-buttons" >
        <button class="arrowDown" (click)="toggleDropdown()"></button>
        <div class="dropdown-menu" *ngIf="showDropdown">
          <button class="dropdown-item" (click)="goToProfile()">Profile</button>
          <button class="dropdown-item" (click)="logout()">Logout</button>
        </div>
      </div>
    </div>
    <div class="top-bar">
      <div class="search-box">
        <span class="search-icon"><img src="/images/svgs/search.svg" alt="search"></span>
        <input
          type="text"
          placeholder="Quick search"
          (click)="openModal()"
          [value]="selectedUserId ? 'Selected ID: ' + selectedUserId : ''"
          readonly
        />
      </div>
      <div class="notification">
        <span class="bell-icon"><img src="/images/svgs/notifications_unread.svg" alt="notify"></span>
        <span class="badge"></span>
      </div>
    </div>

  </div>

</div>
<app-user-select-modal
  *ngIf="showModal"
  (close)="closeModal()"
  (selectUserId)="handleSelectUserId($event)">
</app-user-select-modal>
