:host {
  display: block;
  padding-top: 20px;
  padding-left: 12px;
}

.main-menu {
  width: 270px;
  background: #ffffff;
  border-radius: 14px;
  padding: 20px 0;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
  font-family: 'Segoe UI', sans-serif;
  overflow: hidden;


  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

.main-menu-list-link {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 10px 16px;
  border-radius: 8px;
  color: #000;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  transition: background 0.2s, color 0.2s;

  .icon {
    width: 20px;
    height: 20px;
    color: #8E8E93;
    flex-shrink: 0;
    transition: color 0.2s;

    * {
      fill: currentColor;
      transition: fill 0.2s;
    }
  }

  &:hover {
    background: #e5f0ff;
    color: #2F80ED;
    font-weight: 600;
    font-size: 14px;

    .icon {
      color: #2F80ED;
    }
  }
}

.router-link-active {
  background: #e5f0ff;
  color: #2F80ED;
  font-weight: 600;

  .icon {
    color: #2F80ED;
  }
}
